@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 0px;
}

* {
  -webkit-user-drag: none;
}

*:focus,
*:active {
  outline: none;
}
